<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
   <bean id="empl" class="com.nttdata.Employee.employee">
  <property name="id"  value="10"/>
   <property name="name"  value="raj"/>
   <property name="age"  value="40"/>
   <property name="salary" value="450000"/>
   <property name="address">
   <list>
   
   <value>Banglore</value>
   <value>Karnatka</value>
   <value>India</value>
   
   
   </list>
   </property>
    </bean>

</beans>